body {
    font-size: 24px;
    background-color: rgb(94, 178, 238);
  }
  
  .main {
      display: grid;
      grid-gap: 15px;
      margin-top: 40px;
      grid-template-columns: 1fr;
  }
  
  #editor, #preview {
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(59, 132, 184);
  }
  
  #editor {
    min-height: 300px;
  }
  
  img {
    border-radius: 50%;
  }
  
  pre, code {
    background-color: #ffffff;
  }
  
  pre {
      padding: 10px;
  }
  
  @media(min-width: 992px){
    .main {
       grid-template-columns: 1fr 1fr;
    }
  }