* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
  }
  
  h2 {
    font-size: 20px;
    margin: 15px 0;
    color: gray
  }
  
  p {
    margin: 0;
    font-size: 20px;
  }
  
  .main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
  }
  
  #quote-box {
    width: 450px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
  }
  
  .actions {
    display: flex;
    align-items: center;
  }
  
  .main .button, #tweet-quote {
    background-color: aquamarine;
    border-color: aquamarine;
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    color: black;
  }
  
  #tweet-quote {
    text-decoration: none;
    padding: 7px 5px;
    margin-left: 15px;
  }